	<!--
	#    #  ######  #    #  #####   #  ######  #####  #####  #    #
	##   #  #       #    #  #    #  #  #         #      #    ##   #
	# #  #  #####   #    #  #####   #  #####     #      #    # #  #
	#  # #  #       # ## #  #    #  #  #         #      #    #  # #
	#   ##  #       ##  ##  #    #  #  #         #      #    #   ##
	#    #  ######  #    #  #####   #  ######    #      #    #    #
	-->
	<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
	<link rel="shortcut icon" href="{{ site.url }}/images/favicon.jpg" />
	<!-- DATA OF DATA -->
	<meta charset="UTF-8" />
	<meta name="description" content="A great hideout, where I am personally delighted to discuss topics of interest mostly in Computer Science">
	<meta name="author" content="newbiettn">
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<!-- Adore HTTPS -->
	<script type="text/javascript">
	    var host = "ngoctran.me";
	    if ((host == window.location.host) && (window.location.protocol != "https:"))
	        window.location.protocol = "https";
	</script>
	<!-- MAKEUP -->
	<link rel='stylesheet' id='foundation-css' href='{{ site.url }}/stylesheets/foundation.css?ver=4.5.3' type='text/css' media='all' />
	<link rel='stylesheet' id='aude-layout-css' href='{{ site.url }}/stylesheets/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='foundation-css' href='{{ site.url }}/stylesheets/syntax.css' type='text/css' media='all' />

	<!-- ACTIONS -->
	<script type='text/javascript' src='{{ site.url }}/javascripts/jquery.js'></script>
	<script type='text/javascript' src='{{ site.url }}/javascripts/modernizr.foundation.js?ver=4.5.3'></script>
	<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	<script>
		window.MathJax = {
			loader: {
				load: ['input/tex-base', 'output/svg', 'ui/menu', '[tex]/require', '[tex]/bbox', '[tex]/ams']
			},
			tex: {
				inlineMath: [['$', '$'], ['\\(', '\\)']],
				packages: ['base', 'require', 'bbox', 'ams'],
				tags: 'ams'
			},
			svg: {
				fontCache: 'global'
			}};
	</script>
